*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* reset padding */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* spacing for bars */
[class*='bar-'] {
  position: relative;
  float: left;
  padding: 10px;
}

/* float last element to the right */
[class*='bar-']:last-of-type {
  padding-right: 10px;
  float: right;
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both;
}

/* Standard Widths */
.bar-1  {width: 100%;}
.bar-2  {width: 50%;}
.bar-3  {width: 33.33%;}
.bar-4  {width: 25%;}
.bar-5  {width: 20%;}
.bar-6  {width: 16.6666666667%;}
.bar-7  {width: 14.2857142857%;}
.bar-8  {width: 12.5%;}
.bar-9  {width: 11.1111111111%;}
.bar-10 {width: 10%;}
.bar-11 {width: 9.09090909091%;}
.bar-12 {width: 8.33%;}
